<footer id="layout-footer">
    <div>
        &#169; Coding Ninjas. All Rights Reserved
    </div>
    <div>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <% if(locals.user){ %>
            <li>
                <a href="/users/profile/<%= user._id %>"><%= user.name %></a>
            </li>
            <% } %>
        </ul>
    </div>
</footer>